In [1]:
import pandas as pd

In [69]:
df_diabetes_data = pd.read_csv('pima-indians-diabetes.data.csv', header=None)

In [70]:
df_diabetes_data.head()

   0    1   2   3    4     5      6   7  8
0  6  148  72  35    0  33.6  0.627  50  1
1  1   85  66  29    0  26.6  0.351  31  0
2  8  183  64   0    0  23.3  0.672  32  1
3  1   89  66  23   94  28.1  0.167  21  0
4  0  137  40  35  168  43.1  2.288  33  1

In [43]:
# headerList = ['Pregnancies','Glucose','BloodPressure','SkinThickness','Insulin','BMI','DiabetesPedigreeFunction',
#                            'Age','Outcome']

In [44]:
# df_diabetes_data.to_csv('pima-indians-diabetes.data.csv', header=headerList, index=False)

In [47]:
# df_diabetes_data = pd.read_csv('pima-indians-diabetes.data.csv', header=None)
# df_diabetes_data.head()

,0,1,2,3,4,5,6,7,8
0,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
1,6,148,72,35,0,33.6,0.627,50,1
2,1,85,66,29,0,26.6,0.351,31,0
3,8,183,64,0,0,23.3,0.672,32,1
4,1,89,66,23,94,28.1,0.167,21,0

In [71]:
# Use names file (supplied with dataset) to set the columns
feature_names = ['pregnant','glucose','bp','skin','insulin','bmi','pedigree','age','label']

In [72]:
# Fit the dataframe with with the column names
df_diabetes_data = pd.read_csv('pima-indians-diabetes.data.csv', header=None, names=feature_names)

In [73]:
df_diabetes_data.head()

   pregnant  glucose  bp  skin  insulin   bmi  pedigree  age  label
0         6      148  72    35        0  33.6     0.627   50      1
1         1       85  66    29        0  26.6     0.351   31      0
2         8      183  64     0        0  23.3     0.672   32      1
3         1       89  66    23       94  28.1     0.167   21      0
4         0      137  40    35      168  43.1     2.288   33      1

In [26]:
# The last column in the (output) called 'label' is the Response. It contain binary values where '1' indicates that the patient
# tested positive for diabetes, while '0' indicates a negative test

In [74]:
df_diabetes_data.shape # it has 700 observations and 9 features

(768, 9)

In [75]:
# Select features from the dataset for model building purpose
feature_select_cols = ['pregnant','insulin','bmi', 'age']

# Create feature object
X_feature = df_diabetes_data[feature_select_cols]

# Create response object
Y_target = df_diabetes_data['label']

In [76]:
X_feature.shape

(768, 4)

In [77]:
Y_target.shape

(768,)

In [78]:
# Split testing and training data. By default, 75% is training data and 25% is testing data
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(X_feature, Y_target, random_state=1)

In [79]:
# Train a logistic regression model on the training set
from sklearn.linear_model import LogisticRegression
logReg = LogisticRegression()
logReg.fit(x_train, y_train) # to predict if a person has diabetes or not

LogisticRegression()

In [81]:
# Make predictions for the testing set
y_pred = logReg.predict(x_test)

In [82]:
# Check for accuracy
from sklearn import metrics
print(metrics.accuracy_score(y_test, y_pred))

0.6927083333333334

In [84]:
# The closer your score is to 1, the higher the accuracy of your model

# Print the first 30 true and predicted responses
print('actual:', y_test.values[0:30])
print('predicted', y_pred[0:30])

actual: [0 0 0 0 0 0 0 0 0 0 0 0 1 1 0 1 1 0 0 0 1 1 1 1 0 0 0 1 0 1]
predicted [0 0 0 0 0 0 0 0 0 0 0 0 1 1 0 0 0 0 0 0 0 0 1 0 0 0 0 0 0 0]